<nav>
    <a href="/">home</a>

	<% if(!isConnected){ %>
		<a href="/login">login</a>
		<a href="/signup">Sign up</a>
	<% }else{ %>
		<a href="/logout">logout</a>
		<a href="/restricted?<%- username %>"><%- username %></a>
	<% } %>    
    
   
    

	<br/>	
	<%- message %>

</nav>